<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">

    <footer class="system-footer">

        <div>

            <span>
                © 2026 <strong>StudentMS</strong>
            </span>

            <span class="footer-divider">|</span>

            <span>
                Student Management System
            </span>

        </div>

        <div>

            <span>
                All rights reserved.
            </span>

        </div>

    </footer>

</div>

</html>
